*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #000000d8;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #28c89393;
    padding: 5px 2%;
}

.nav-left img{
    rotate: 180deg;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50px;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    font-weight: bold;
    font-size: 10px;
    color: #001526;
    list-style: none;
    display: inline-block;
    padding: 0 0;
    transition: transform 0.3s ease;
}

.nav-left ul li i{
    box-sizing: border-box;
    color: #001526 ;
    font-size: 22px;
    cursor: pointer;
    margin: 0 30px;
    padding: 0px;
}

.nav-left ul li:hover{
    transform: scale(1.2);
}

.profile-icon i{
    margin-right: 20px;
    color: #001526;
    font-size: 28px;
    cursor: pointer;
}

.profile-icon{
    transition: transform 0.3s ease;
    margin-left: 30px;
}

.profile-icon:hover{
    transform: scale(1.2);
}

.search-box{
    margin-left: 300px;
    line-height: 40px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: #ffffff9f;
}

.search-box i{
    color: #001526;
    font-size: 20px;
}

.search-box input[type="text"]{
    line-height: 40px;
    outline: none;
    border: none;
    width: 100%;
    padding: 0 15px;
    background-color: #ffffff00;
}