*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #001526;
    height: 100vh;
}

.interface{
    max-width: 1280px;
}

.logo img{
    width: 80px;
    margin-top: 10px;
    rotate: 180deg;
}

header{
    padding: 20px 2%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color:white;
    text-decoration: none;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 110px;
}

header nav ul li a{
    color: #28C892;
    font-size: 30px;
}